body {
    font-family: 'Lato', sans-serif;
}

table.data-management-cmp {
    table-layout: fixed;
}

table.data-management-cmp thead tr th,
table.data-management-cmp tbody tr td {
    vertical-align: middle;
}

table.data-management-cmp tr th:first-child {
    width: 3%;
}

table.data-management-cmp input {
    max-width: 100%;
}
